<%= turbo_frame_tag 'entry', data: {'cemetery-id-value': @cemetery.id} do %>
  <% unless @cemetery.nil? %>
    <h2 class="entry-main-heading"><%= @cemetery.name %></h2>
    <h3 class="entry-heading">Gallery</h3>
    <ul class="photo-gallery">
      <% @photos.each do |photo| %>
        <li><%= link_to photo.link, data: {
          fslightbox: 'gallery'
        } do %>
          <%= image_tag photo.link, loading: 'lazy' %>
        <% end %>
        </li>
      <% end %>
    </ul>
    <h3 class="entry-heading">Description</h3>
    <p><%= @cemetery.description %></p>
  <% else %>
    <div>Hello from empty show partial</div>
  <% end %>
<% end %>
